.caracter__bg {
  background: url(/svg/ondas.svg) -40px 80px no-repeat;
}

.caracter__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  margin-bottom: 112px;
}

.caracter__esquerda {
  position: relative;
}

.icone__oso,
.icone__comedouro,
.icone__coracao,
.icone__raio {
  position: absolute;
}

.icone__oso {
  top: 4rem;
  transform: rotate(-15deg);
  animation: flutuando 3s ease 3.9s infinite alternate;
}

.icone__comedouro {
  bottom: 14rem;
  right: 7.2rem;
  transform: rotate(15deg);
  animation: flutuando 3s ease 2.9s infinite alternate;
}

.icone__coracao {
  bottom: 20rem;
  transform: rotate(6deg);
  animation: flutuando 4s ease 0.9s infinite alternate;
}

.icone__raio {
  top: 13rem;
  right: 9rem;
  transform: rotate(-15deg);
  animation: flutuando 3s ease 0.6s infinite alternate;
}

@keyframes flutuando {
  0% {transform: translate3d(initial, 0, 0);}
  100% {transform: translate3d(5px, -30px, 0);}
}

.caracter__itens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 3.2rem;
}

.caracter__item {
  padding: 3.2rem 2.4rem;
  border-radius: 0.8rem;
  background-color: var(--primaria-300);
}

.caracter__atributo {
  margin-bottom: 0.8rem;
  font-size: var(--paragraph-3);
  line-height: var(--line-height-2);
  font-weight: var(--font-weight-bold);
}

@media (max-width: 1024px) {
  .caracter__container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  
  .caracter__direita {
    order: -1;
  }

  .caracter__bg {
    background: url(/svg/ondas.svg)  no-repeat bottom;
  }
  
  .icone__raio, .icone__comedouro {
    right: 0;
  }

}

@media (max-width: 375px) {

  .caracter__direita {
    grid-template-columns: 1fr;
  }

  .caracter__itens {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 3.2rem;
  }
  .titulo__h2--caracter {
    max-width: 100%;
    font-size: 4.0rem;
  }
}