.hero {
  height: 100vh;
  background: url(img/hero-golden2.png) no-repeat right bottom;
  background-color: var(--neutra-default)
}

.hero__copy {
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 76.4rem;
  padding-top: 11.2rem;
  gap: 2.4rem;
  position: relative;
}

.hero__titulo {
  width: 100%;
  color: var(--primaria-default);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-1);
}

.hero__subtitulo {
  width: 100%;
  max-width: 62.3rem;
  color: var(--neutra-400);
  font-size: var(--paragraph-1);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-medium);
}

.hero__itens {
  display: grid;
  max-width: 76.4rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

.hero__item {
  padding: 1.6rem 0.8rem 1.6rem 1.6rem;
  border-radius: 0.6rem;
  background-color: var(--neutra-100);
}

.hero__p {
  padding: 0.4rem 0;
  font-size: var(--paragraph-3);
  font-weight: var(--font-weight-bold);
  color: var(--neutra-400);
}

.hero__span {
  color: var(--neutra-400);
}

.ancora {
  position: absolute;
  left: 57.9rem;
  bottom: -15.0rem;
  width: 3.0rem;
  height: 3.0rem;
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

@media (max-width: 1024px) {

  .hero {
    background: url(img/hero-golden2.png) no-repeat bottom;
    background-color: var(--neutra-default)
  }

  .hero__copy {
    justify-items: center;
    max-width: 100%;
    padding-top: 6.2rem;
    gap: 3.2rem;
  } 

  .hero__titulo, .hero__subtitulo {
    text-align: center;
  }

  .ancora {
    display: none;
  }

}

@media (max-width: 768px) {

  .hero {
    height: 110.0rem;
    background-size: contain;
    background-position: center bottom;
    background-color: var(--neutra-default);
  }

  .hero__titulo {
    font-size: 9.6rem;
  }

  .hero__itens {
    width: 100%;
  }
  
}

@media (max-width: 500px) {

  .hero {
    height: 120.0rem;
  }

  .hero__titulo {
    font-size: var(--font-size-h2);
  }

  .hero__itens {
    grid-template-columns: 1fr;
  }

  .hero__item {
    display: flex;
    gap: 1.6rem;
  }
  .hero__p {
    display: inline;
    margin-right: 0.8rem;
  }
}

@media (max-width: 375px) {
  .hero {
    height: 112.0rem;
  }
}