.s-historia {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 32px;
  padding: 200px 0;
}

.h__mosaico {
  position: relative;
}


.h__mosaico::before, .h__mosaico::after {
  content: "";
  position: absolute;
  height: 122px;
  width: 126px;
  top: 20px;
  left: 40px;
}

.h__mosaico::before {
  background: url("/svg/dog-circulo.svg") no-repeat center;
}

.h__mosaico::after {
  background: url("/svg/letras-circulo.svg") no-repeat center;
  animation: rotating 9s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.s-historia::before, .h__texto::before {
  content: "";
  position: absolute;
  border-radius: 8px;
  background-color: var(--primaria-100);
}

.s-historia::before {
  width: 408px;
  height: 2px;
  left: 70px;
  top: 840px;
}

.h__texto {
  position: relative;
  background: url(/svg/_befor_map.svg) no-repeat top right;
}

.h__texto::before {
  width: 2px;
  height: 408px;
  top: 268px;
  left: -16px;
}
.titulo__h2--h {
  display: inline-block;
  margin-bottom: 24px;
}

.titulo__h2--h::after {
  bottom: -12px;
  left: 0;
}

.h__texto p {
  font-size: var(--paragraph-2);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-medium);
  padding-bottom: 16px;
}


@media (max-width: 1024px) {
  .s-historia {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 120px 0 ;
    gap: 64px;
  }

  .s-historia::before {
    top: 634px;
    left: initial;
  }

  .h__texto {
    order: -1;
    text-align: center;
  }

  .h__texto::before {
    display: none;
  }

  .h__texto h2::before {
    left: 30%;
  }

}


@media (max-width: 768px) {
  .s-historia::before {
    display: none;
  }
}

@media (max-width: 375px) {

  .s-historia {
    gap: 32px;
    padding: 96px 0 ;
  }

  .s-historia::before {
    display: none;
  }

  .h__mosaico::before, .h__mosaico::after {
    top: -12px;
    left: -10px;
  }

}