.s-historia {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3.2rem;
  padding: 20rem 0;
}

.h__mosaico {
  position: relative;
}


.h__mosaico::before, .h__mosaico::after {
  content: "";
  position: absolute;
  height: 12.2rem;
  width: 12.6rem;
  top: 2rem;
  left: 4rem;
}

.h__mosaico::before {
  background: url("svg/dog-circulo.svg") no-repeat center;
}

.h__mosaico::after {
  background: url("svg/letras-circulo.svg") no-repeat center;
  animation: rotating 9s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.s-historia::before, .h__texto::before {
  content: "";
  position: absolute;
  border-radius: 0.8rem;
  background-color: var(--primaria-100);
}

.s-historia::before {
  width: 40.8rem;
  height: 0.2rem;
  left: 7rem;
  top: 84rem;
}

.h__texto {
  position: relative;
  background: url(svg/_befor_map.svg) no-repeat top right;
}

.h__texto::before {
  width: 0.2rem;
  height: 40.8rem;
  top: 26.8rem;
  left: -1.6rem;
}
.titulo__h2--h {
  display: inline-block;
  margin-bottom: 2.4rem;
}

.titulo__h2--h::after {
  bottom: -1.2rem;
  left: 0;
}

.h__texto p {
  font-size: var(--paragraph-2);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-medium);
  padding-bottom: 1.6rem;
}


@media (max-width: 1024px) {
  .s-historia {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 12rem 0 ;
    gap: 6.4rem;
  }

  .s-historia::before {
    top: 63.4rem;
    left: initial;
  }

  .h__texto {
    order: -1;
    text-align: center;
  }

  .h__texto::before {
    display: none;
  }

  .h__texto h2::before {
    left: 30%;
  }

}


@media (max-width: 768px) {
  .s-historia::before {
    display: none;
  }
}

@media (max-width: 37.5rem) {

  .s-historia {
    gap: 3.2rem;
    padding: 9.6rem 0 ;
  }

  .s-historia::before {
    display: none;
  }

  .h__mosaico::before, .h__mosaico::after {
    top: -1.2rem;
    left: -1rem;
  }

}