.tipos {
  
  padding: 120px 0;
  background-color: var(--neutra-100);
}

.tipos__titulo {
  position: relative;
  margin-bottom: 96px;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-3);
  text-align: center;

  color: var(--withe-100);
}

.tipos__titulo::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 4px;
  border-radius: 8px;
  bottom: -16px;
  left: 48%;
  background-color: var(--primaria-100);
}

.tipos__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}


.tipos__esquerda {
  display: flex;
  max-width: 570px;
  gap: 36px;
}

.tipos__texto {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 36px;
}

.tipos__icone {
  position: relative;
  width: 56px;
  height: 56px;
  padding: 12px;
  background-color: var(--neutra-200);
  border-radius: 50%;
}

.tipos__subtitulo {
  padding-bottom: 16px;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-2);
  color: var(--withe-100);
}

.tipos__paragrafo {
  position: relative;
  grid-column: 2;
  font-size: var(--paragraph-2);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-medium);
  color: var(--neutra-400);
}

.tipos__paragrafo::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 128px;
  top: 8px;
  left: -65px;
  color: red;
  background-color: var(--neutra-200);
}

.none::after {
  display: none;
}

@media (max-width: 1024px) {
  .tipos__container {
    flex-direction: column;
  }

  .tipos__titulo::after {
    left: 45%;
  }

  .tipos__esquerda {
    margin-bottom: 24px;
  }
}

@media (max-width: 375px) {
  .tipos__titulo {
    font-size: var(--font-size-h3);
  }

  .tipos__titulo::after {
    left: 40%;
  }

  .tipos__texto, .tipos__icone {
    display: initial;
    text-align: center;
  }
  .tipos__icone {
    margin-bottom: 16px;
  }
}