.tipos {
  margin-bottom: 12rem;
  padding: 12rem 0;
  background-color: var(--neutra-100);
}

.titulo__h2--tipos {
  color: var(--withe-100);
}

.tipos__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.6rem;
}


.tipos__esquerda {
  width: 100%;
  max-width: 57rem;
}

.tipos__texto {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 3.6rem;
}

.tipos__icone {
  position: relative;
  width: 5.6rem;
  height: 5.6rem;
  padding: 1.2rem;
  background-color: var(--neutra-200);
  border-radius: 50%;
}

.tipos__subtitulo {
  padding-bottom: 1.6rem;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-2);
  color: var(--withe-100);
}

.tipos__paragrafo {
  position: relative;
  grid-column: 2;
  font-size: var(--paragraph-2);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-medium);
  color: var(--neutra-400);
}

.tipos__paragrafo::after {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 12.8rem;
  top: 0.8rem;
  left: -6.5rem;
  color: red;
  background-color: var(--neutra-200);
}

.none::after {
  display: none;
}

@media (max-width: 1024px) {
  .tipos__container {
    flex-direction: column;
  }

  .tipos__titulo::after {
    left: 45%;
  }

  .tipos__esquerda {
    max-width: 90%;
    text-align: center;
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 375px) {
  .tipos__titulo {
    font-size: var(--font-size-h3);
  }

  .tipos__titulo::after {
    left: 40%;
  }

  .tipos__texto, .tipos__icone {
    display: initial;
    text-align: center;
  }
  .tipos__icone {
    margin-bottom: 1.6rem;
  }
}